<h1>Stack Overflow</h1>

<h2><%= @question.title %></h2>
<h3><%= @question.description %></h3>


<%= render "responses/form" %>
<ul id="qr">
  <% @question.responses.each do |response| %>
    <li><%= response.description %></li>
  <% end %>
</ul>
